name: Test
on:
  push:
    pull_requests:
      branches:
        - main

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    permissions:
      # Required to checkout the code
      contents: read
      # Required to put a comment into the pull-request
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "lts/*"
      - name: Use cache
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ hashFiles('**/package-lock.json') }}

      - name: Install dependencies
        run: npm clean-install
      - name: Verify the integrity of provenance attestations and registry signatures for installed dependencies
        run: npm audit signatures
      - name: 'Test'
        run: npm run coverage
      - name: 'Report Coverage'
        if: always() # Also generate the report if tests are failing TODO: make it work
        uses: davelosert/vitest-coverage-report-action@v1